.main-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.inner-main-container{
    flex:10;
    display: flex;
    border: 1px solid black;
}

.footer-container{
    flex:1;
}


.bar{
    background-color: pink;
    height: 50px;
    width: 50px;

    border: 1px solid black;
}