.container {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.cards-container.small {
    flex-direction: column;
    align-items: center;
}