*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* --------------------------- */
/* Header (TOP) related stuff */
/* --------------------------- */


.header-container{
    flex: 0 0 15%;
    background: linear-gradient(to right, #a2b0ff, #6D66C7, #754BA3);
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.header-container h1{
    font-weight: 600;
    color: white;
}

/* --------------------------- */
/* Main (MIDDLE) related stuff */
/* --------------------------- */
.main-container{
    display: flex;
    flex:1;
    background-color: #f30000;
}
.main-content-container{
    flex: 1;
}

.nav-container{
    flex: 0 0 10%;
    background-color: #F8F9FA;
    padding: 1em 0 0 1em;
}

.nav-container h2{
    margin-bottom: 0.4em;
    margin-left: -0.2em;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.35em;
}

.nav-list a{
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.3em;
    color: #5A6167;
}

.sidebar-container{
    flex: 0 0 10%;
    background-color: #2bff00;
}

/* ----------------------------- */
/* footer (BOTTOM) related stuff */
/* ----------------------------- */

.footer-container{
    flex: 0 0 15%;
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.footer-info-container{
    display: flex;
    gap: 2em;
    justify-content: center;
    
}


.footer-info-container a{
    white-space: nowrap;
    text-decoration: none;
    font-size: 1em;
    color: #5A6167;
}


